<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{193,1},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{385,1},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{577,1},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{769,1},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{1,142},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{193,142},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{385,142},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{577,142},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{769,142},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{1,283},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{193,283},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{385,283},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{577,283},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{769,283},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{1,424},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{193,424},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{385,424},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{577,424},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{769,424},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{1,565},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{193,565},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{385,565},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{577,565},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{769,565},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{1,706},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{193,706},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{385,706},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{577,706},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{769,706},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{1,847},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{193,847},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{385,847},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{577,847},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{769,847},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{1,988},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{193,988},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{385,988},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{577,988},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{769,988},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{1,1129},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{193,1129},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{385,1129},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{577,1129},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{769,1129},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{1,1270},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{193,1270},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{385,1270},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{577,1270},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{769,1270},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{1,1411},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{193,1411},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{385,1411},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{577,1411},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{769,1411},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{1,1552},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>412.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{193,1552},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>413.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{385,1552},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{577,1552},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>415.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,190}</string>
                <key>spriteSourceSize</key>
                <string>{139,190}</string>
                <key>textureRect</key>
                <string>{{769,1552},{139,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>506.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,232}</string>
                <key>spriteSourceSize</key>
                <string>{179,232}</string>
                <key>textureRect</key>
                <string>{{1,1693},{179,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>520.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,232}</string>
                <key>spriteSourceSize</key>
                <string>{179,232}</string>
                <key>textureRect</key>
                <string>{{235,1693},{179,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>521.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,232}</string>
                <key>spriteSourceSize</key>
                <string>{179,232}</string>
                <key>textureRect</key>
                <string>{{469,1693},{179,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PokerFront_0Trends.png</string>
            <key>size</key>
            <string>{960,1873}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb9698fd8493955b22da72a9710c7d25:e3d6bb961f833ac40fb572f73236ac4f:cf747d6b5d92fd5304dae894278cb555$</string>
            <key>textureFileName</key>
            <string>PokerFront_0Trends.png</string>
        </dict>
    </dict>
</plist>
