<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,5},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,127},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,5},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{245,127},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,5},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,127},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnbg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{367,5},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fgx_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,2}</string>
                <key>spriteSourceSize</key>
                <string>{680,2}</string>
                <key>textureRect</key>
                <string>{{1,1},{680,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cm_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{679,5},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{679,57},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{577,107},{70,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_cm_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{658,109},{70,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jbbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,51}</string>
                <key>spriteSourceSize</key>
                <string>{60,51}</string>
                <key>textureRect</key>
                <string>{{577,190},{60,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jfbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{475,5},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kjbtnbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{367,115},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pxbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{475,107},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txkbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{577,5},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NNCommonStatic.png</string>
            <key>size</key>
            <string>{730,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14c689d71f9e99e0ddbfb35419eb6723:1940bbeda899561a1925634c06365cc8:91106749131b011e612bf21649b992e1$</string>
            <key>textureFileName</key>
            <string>NNCommonStatic.png</string>
        </dict>
    </dict>
</plist>
