<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,50}</string>
                <key>spriteSourceSize</key>
                <string>{184,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{1,53},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,50}</string>
                <key>spriteSourceSize</key>
                <string>{116,50}</string>
                <key>textureRect</key>
                <string>{{123,53},{116,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,50}</string>
                <key>spriteSourceSize</key>
                <string>{118,50}</string>
                <key>textureRect</key>
                <string>{{1,313},{118,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,50}</string>
                <key>spriteSourceSize</key>
                <string>{184,50}</string>
                <key>textureRect</key>
                <string>{{1,365},{184,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,50}</string>
                <key>spriteSourceSize</key>
                <string>{182,50}</string>
                <key>textureRect</key>
                <string>{{1,417},{182,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,50}</string>
                <key>spriteSourceSize</key>
                <string>{184,50}</string>
                <key>textureRect</key>
                <string>{{1,469},{184,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,50}</string>
                <key>spriteSourceSize</key>
                <string>{183,50}</string>
                <key>textureRect</key>
                <string>{{1,521},{183,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,50}</string>
                <key>spriteSourceSize</key>
                <string>{184,50}</string>
                <key>textureRect</key>
                <string>{{1,573},{184,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,50}</string>
                <key>spriteSourceSize</key>
                <string>{184,50}</string>
                <key>textureRect</key>
                <string>{{1,625},{184,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,50}</string>
                <key>spriteSourceSize</key>
                <string>{185,50}</string>
                <key>textureRect</key>
                <string>{{1,677},{185,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n171.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,50}</string>
                <key>spriteSourceSize</key>
                <string>{247,50}</string>
                <key>textureRect</key>
                <string>{{1,729},{247,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,50}</string>
                <key>spriteSourceSize</key>
                <string>{119,50}</string>
                <key>textureRect</key>
                <string>{{1,105},{119,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,50}</string>
                <key>spriteSourceSize</key>
                <string>{118,50}</string>
                <key>textureRect</key>
                <string>{{122,105},{118,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,50}</string>
                <key>spriteSourceSize</key>
                <string>{119,50}</string>
                <key>textureRect</key>
                <string>{{1,157},{119,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,50}</string>
                <key>spriteSourceSize</key>
                <string>{119,50}</string>
                <key>textureRect</key>
                <string>{{122,157},{119,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,50}</string>
                <key>spriteSourceSize</key>
                <string>{117,50}</string>
                <key>textureRect</key>
                <string>{{1,209},{117,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,50}</string>
                <key>spriteSourceSize</key>
                <string>{119,50}</string>
                <key>textureRect</key>
                <string>{{120,209},{119,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,50}</string>
                <key>spriteSourceSize</key>
                <string>{112,50}</string>
                <key>textureRect</key>
                <string>{{1,261},{112,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,50}</string>
                <key>spriteSourceSize</key>
                <string>{113,50}</string>
                <key>textureRect</key>
                <string>{{115,261},{113,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,50}</string>
                <key>spriteSourceSize</key>
                <string>{118,50}</string>
                <key>textureRect</key>
                <string>{{121,313},{118,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,50}</string>
                <key>spriteSourceSize</key>
                <string>{148,50}</string>
                <key>textureRect</key>
                <string>{{187,365},{148,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qz2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,50}</string>
                <key>spriteSourceSize</key>
                <string>{148,50}</string>
                <key>textureRect</key>
                <string>{{187,515},{148,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qz3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,50}</string>
                <key>spriteSourceSize</key>
                <string>{148,50}</string>
                <key>textureRect</key>
                <string>{{1,781},{148,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,50}</string>
                <key>spriteSourceSize</key>
                <string>{152,50}</string>
                <key>textureRect</key>
                <string>{{1,833},{152,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,50}</string>
                <key>spriteSourceSize</key>
                <string>{152,50}</string>
                <key>textureRect</key>
                <string>{{155,781},{152,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qz6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,50}</string>
                <key>spriteSourceSize</key>
                <string>{152,50}</string>
                <key>textureRect</key>
                <string>{{1,885},{152,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NNTrends.png</string>
            <key>size</key>
            <string>{249,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4f0a0129342a80d9a61ede70db16d9b:abf9742aeb50f7fffefae06d89b290a4:6daef0ace3072d7db2e79bdeeb559af4$</string>
            <key>textureFileName</key>
            <string>NNTrends.png</string>
        </dict>
    </dict>
</plist>
