<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_baojiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,406},{177,173}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,118},{177,173}}</string>
                <key>sourceSize</key>
                <string>{405,397}</string>
            </dict>
            <key>img_baojiao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,572},{285,283}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,50},{285,283}}</string>
                <key>sourceSize</key>
                <string>{405,397}</string>
            </dict>
            <key>img_chi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,857},{177,161}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,133},{177,161}}</string>
                <key>sourceSize</key>
                <string>{405,397}</string>
            </dict>
            <key>img_chi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,287},{285,283}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,54},{285,283}}</string>
                <key>sourceSize</key>
                <string>{405,397}</string>
            </dict>
            <key>img_gang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,857},{131,137}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,136},{131,137}}</string>
                <key>sourceSize</key>
                <string>{405,397}</string>
            </dict>
            <key>img_gang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,581},{267,277}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,50},{267,277}}</string>
                <key>sourceSize</key>
                <string>{405,397}</string>
            </dict>
            <key>img_hu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,860},{145,169}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,126},{145,169}}</string>
                <key>sourceSize</key>
                <string>{405,397}</string>
            </dict>
            <key>img_hu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{277,283}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,54},{277,283}}</string>
                <key>sourceSize</key>
                <string>{405,397}</string>
            </dict>
            <key>img_peng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,860},{169,159}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,128},{169,159}}</string>
                <key>sourceSize</key>
                <string>{405,397}</string>
            </dict>
            <key>img_peng02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{285,283}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,45},{285,283}}</string>
                <key>sourceSize</key>
                <string>{405,397}</string>
            </dict>
            <key>img_tou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,215},{189,189}}</string>
                <key>offset</key>
                <string>{14,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,136},{189,189}}</string>
                <key>sourceSize</key>
                <string>{405,397}</string>
            </dict>
            <key>img_tou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{331,345}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,22},{331,345}}</string>
                <key>sourceSize</key>
                <string>{405,397}</string>
            </dict>
            <key>img_zhao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{213,211}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,118},{213,211}}</string>
                <key>sourceSize</key>
                <string>{405,397}</string>
            </dict>
            <key>img_zhao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{391,393}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{391,393}}</string>
                <key>sourceSize</key>
                <string>{405,397}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>optypeani_png.png</string>
            <key>size</key>
            <string>{941,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4559ba9d65e6ea50e8fbb43deb1e45a4$</string>
            <key>textureFileName</key>
            <string>optypeani_png.png</string>
        </dict>
    </dict>
</plist>
