<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingtong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,69}</string>
                <key>spriteSourceSize</key>
                <string>{67,69}</string>
                <key>textureRect</key>
                <string>{{2,309},{67,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,79}</string>
                <key>textureRect</key>
                <string>{{97,2},{80,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dapao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,70}</string>
                <key>spriteSourceSize</key>
                <string>{69,70}</string>
                <key>textureRect</key>
                <string>{{2,236},{69,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,77}</string>
                <key>spriteSourceSize</key>
                <string>{80,77}</string>
                <key>textureRect</key>
                <string>{{97,85},{80,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gutou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{75,310},{70,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{2,88},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiangbei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,76}</string>
                <key>textureRect</key>
                <string>{{86,166},{80,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jidan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{2,168},{64,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>laolong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,76}</string>
                <key>spriteSourceSize</key>
                <string>{66,76}</string>
                <key>textureRect</key>
                <string>{{170,243},{66,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,43}</string>
                <key>spriteSourceSize</key>
                <string>{78,43}</string>
                <key>textureRect</key>
                <string>{{145,313},{78,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meichao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,35}</string>
                <key>spriteSourceSize</key>
                <string>{81,35}</string>
                <key>textureRect</key>
                <string>{{192,313},{81,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pijiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,91}</string>
                <key>spriteSourceSize</key>
                <string>{82,91}</string>
                <key>textureRect</key>
                <string>{{2,2},{82,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shoulei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,77}</string>
                <key>spriteSourceSize</key>
                <string>{60,77}</string>
                <key>textureRect</key>
                <string>{{76,246},{60,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shuiqiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,80}</string>
                <key>spriteSourceSize</key>
                <string>{72,80}</string>
                <key>textureRect</key>
                <string>{{181,2},{72,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuoxie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{181,86},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuaji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,76}</string>
                <key>spriteSourceSize</key>
                <string>{68,76}</string>
                <key>textureRect</key>
                <string>{{181,163},{68,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Magic.png</string>
            <key>size</key>
            <string>{256,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d67c11305ebe3696eb1a96c6feaf941:4fcb7532e4f53f70da8d913c3a493043:90c6b580edf9eab96d521684c5380913$</string>
            <key>textureFileName</key>
            <string>Magic.png</string>
        </dict>
    </dict>
</plist>
