<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ante.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,51}</string>
                <key>spriteSourceSize</key>
                <string>{153,51}</string>
                <key>textureRect</key>
                <string>{{247,55},{153,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,72}</string>
                <key>spriteSourceSize</key>
                <string>{44,72}</string>
                <key>textureRect</key>
                <string>{{440,55},{44,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_gamerule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,25}</string>
                <key>spriteSourceSize</key>
                <string>{57,25}</string>
                <key>textureRect</key>
                <string>{{520,2},{57,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_playmodeselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,49}</string>
                <key>spriteSourceSize</key>
                <string>{269,49}</string>
                <key>textureRect</key>
                <string>{{247,2},{269,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_playmodeselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,94}</string>
                <key>spriteSourceSize</key>
                <string>{241,94}</string>
                <key>textureRect</key>
                <string>{{2,2},{241,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_roomcard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,32}</string>
                <key>spriteSourceSize</key>
                <string>{43,32}</string>
                <key>textureRect</key>
                <string>{{404,63},{43,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CreateRoom.png</string>
            <key>size</key>
            <string>{547,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61354abe1b8253911579cc9ce236d50c:0aa2c0280667ada48384f19af3812937:65819d390b3e89b27b63741b1671ebf3$</string>
            <key>textureFileName</key>
            <string>CreateRoom.png</string>
        </dict>
    </dict>
</plist>
