<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,75}</string>
                <key>spriteSourceSize</key>
                <string>{200,75}</string>
                <key>textureRect</key>
                <string>{{1,159},{200,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_cp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,75}</string>
                <key>spriteSourceSize</key>
                <string>{200,75}</string>
                <key>textureRect</key>
                <string>{{203,159},{200,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,61}</string>
                <key>textureRect</key>
                <string>{{717,145},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_qz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,75}</string>
                <key>spriteSourceSize</key>
                <string>{198,75}</string>
                <key>textureRect</key>
                <string>{{293,1},{198,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ts.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,75}</string>
                <key>spriteSourceSize</key>
                <string>{196,75}</string>
                <key>textureRect</key>
                <string>{{293,78},{196,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_zb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,71}</string>
                <key>spriteSourceSize</key>
                <string>{178,71}</string>
                <key>textureRect</key>
                <string>{{405,155},{178,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnbg_qxtg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,63}</string>
                <key>spriteSourceSize</key>
                <string>{152,63}</string>
                <key>textureRect</key>
                <string>{{493,1},{152,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_bq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,62}</string>
                <key>spriteSourceSize</key>
                <string>{116,62}</string>
                <key>textureRect</key>
                <string>{{647,1},{116,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_fwzsd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,290}</string>
                <key>spriteSourceSize</key>
                <string>{156,290}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_guo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{78,76}</string>
                <key>textureRect</key>
                <string>{{659,65},{78,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_qiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{717,208},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_sc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,46}</string>
                <key>spriteSourceSize</key>
                <string>{110,46}</string>
                <key>textureRect</key>
                <string>{{669,145},{110,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_ybq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,68}</string>
                <key>spriteSourceSize</key>
                <string>{166,68}</string>
                <key>textureRect</key>
                <string>{{491,78},{166,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jbbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,51}</string>
                <key>spriteSourceSize</key>
                <string>{61,51}</string>
                <key>textureRect</key>
                <string>{{737,65},{61,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nzbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,91}</string>
                <key>spriteSourceSize</key>
                <string>{82,91}</string>
                <key>textureRect</key>
                <string>{{585,148},{82,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PdkCommonStatic.png</string>
            <key>size</key>
            <string>{789,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f0b97d1556f7f25328e47fec358c7b4:4bfaa406963b06bd628881a57bca17e2:35f1ffaf0fa3d1cbabd83f50eac5e630$</string>
            <key>textureFileName</key>
            <string>PdkCommonStatic.png</string>
        </dict>
    </dict>
</plist>
