<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_da.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{159,167},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_diu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{321,5},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{443,5},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_qiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{565,5},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xhd_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{687,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xhd_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{103,475},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{281,167},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ys_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{755,452},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ys_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{827,452},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_zdx_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{485,192},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_zdx_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{485,314},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnbg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{607,344},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnbg_qrfp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,63}</string>
                <key>spriteSourceSize</key>
                <string>{152,63}</string>
                <key>textureRect</key>
                <string>{{523,127},{152,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnbg_qxtg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,63}</string>
                <key>spriteSourceSize</key>
                <string>{152,63}</string>
                <key>textureRect</key>
                <string>{{256,289},{152,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnwz_hz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,50}</string>
                <key>spriteSourceSize</key>
                <string>{111,50}</string>
                <key>textureRect</key>
                <string>{{715,327},{111,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnwz_qdfp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,50}</string>
                <key>spriteSourceSize</key>
                <string>{196,50}</string>
                <key>textureRect</key>
                <string>{{1,297},{196,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>djs_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,10}</string>
                <key>spriteSourceSize</key>
                <string>{200,10}</string>
                <key>textureRect</key>
                <string>{{321,127},{200,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>djs_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,10}</string>
                <key>spriteSourceSize</key>
                <string>{200,10}</string>
                <key>textureRect</key>
                <string>{{321,139},{200,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>djsbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,495},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fgx_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,2}</string>
                <key>spriteSourceSize</key>
                <string>{680,2}</string>
                <key>textureRect</key>
                <string>{{1,1},{680,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hddb_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,120}</string>
                <key>spriteSourceSize</key>
                <string>{20,120}</string>
                <key>textureRect</key>
                <string>{{891,1},{20,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hddb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{389,455},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cm_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{755,530},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{807,530},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{767,339},{70,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cm_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{839,339},{70,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cpz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{174,289},{150,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_da.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{809,1},{150,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_diu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{321,289},{150,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_djw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,59}</string>
                <key>spriteSourceSize</key>
                <string>{176,59}</string>
                <key>textureRect</key>
                <string>{{53,297},{176,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_fpz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{403,151},{150,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_fwzsd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,290}</string>
                <key>spriteSourceSize</key>
                <string>{156,290}</string>
                <key>textureRect</key>
                <string>{{1,5},{156,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{403,303},{150,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_hdqiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{572,454},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_qiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{607,192},{150,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_ssm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,58}</string>
                <key>spriteSourceSize</key>
                <string>{174,58}</string>
                <key>textureRect</key>
                <string>{{114,297},{174,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{225,443},{150,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_xm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,59}</string>
                <key>spriteSourceSize</key>
                <string>{116,59}</string>
                <key>textureRect</key>
                <string>{{694,454},{116,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_yfp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{307,443},{150,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_zhuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{869,420},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,59}</string>
                <key>spriteSourceSize</key>
                <string>{117,59}</string>
                <key>textureRect</key>
                <string>{{511,436},{117,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jfbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{689,123},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ncbg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,30}</string>
                <key>spriteSourceSize</key>
                <string>{100,30}</string>
                <key>textureRect</key>
                <string>{{767,420},{100,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nzbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,91}</string>
                <key>spriteSourceSize</key>
                <string>{82,91}</string>
                <key>textureRect</key>
                <string>{{791,255},{82,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pxbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{689,225},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{159,5},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txkbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{791,153},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,24}</string>
                <key>spriteSourceSize</key>
                <string>{58,24}</string>
                <key>textureRect</key>
                <string>{{511,555},{58,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CxCommonStatic.png</string>
            <key>size</key>
            <string>{912,596}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:145856858918b5aab1f7f85ddc71b786:ccea739e0c4553bc20fe131ef341a52b:4921fb713faede3b8f5ffcadbc0c12ad$</string>
            <key>textureFileName</key>
            <string>CxCommonStatic.png</string>
        </dict>
    </dict>
</plist>
