<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2d_pz_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{192,560},{75,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2d_pz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,100}</string>
                <key>spriteSourceSize</key>
                <string>{49,100}</string>
                <key>textureRect</key>
                <string>{{102,493},{49,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,106}</string>
                <key>spriteSourceSize</key>
                <string>{21,106}</string>
                <key>textureRect</key>
                <string>{{0,357},{21,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,106}</string>
                <key>spriteSourceSize</key>
                <string>{69,106}</string>
                <key>textureRect</key>
                <string>{{0,288},{69,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,106}</string>
                <key>spriteSourceSize</key>
                <string>{59,106}</string>
                <key>textureRect</key>
                <string>{{106,355},{59,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,108}</string>
                <key>spriteSourceSize</key>
                <string>{67,108}</string>
                <key>textureRect</key>
                <string>{{444,104},{67,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2d_pz_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,108}</string>
                <key>spriteSourceSize</key>
                <string>{69,108}</string>
                <key>textureRect</key>
                <string>{{108,219},{69,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,104}</string>
                <key>spriteSourceSize</key>
                <string>{65,104}</string>
                <key>textureRect</key>
                <string>{{212,359},{65,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,104}</string>
                <key>spriteSourceSize</key>
                <string>{67,104}</string>
                <key>textureRect</key>
                <string>{{0,378},{67,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,104}</string>
                <key>spriteSourceSize</key>
                <string>{66,104}</string>
                <key>textureRect</key>
                <string>{{446,0},{66,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2d_pz_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,100}</string>
                <key>spriteSourceSize</key>
                <string>{71,100}</string>
                <key>textureRect</key>
                <string>{{206,489},{71,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,108}</string>
                <key>spriteSourceSize</key>
                <string>{71,108}</string>
                <key>textureRect</key>
                <string>{{108,148},{71,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,102}</string>
                <key>spriteSourceSize</key>
                <string>{73,102}</string>
                <key>textureRect</key>
                <string>{{0,445},{73,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{0,71},{71,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,108}</string>
                <key>spriteSourceSize</key>
                <string>{71,108}</string>
                <key>textureRect</key>
                <string>{{0,217},{71,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,108}</string>
                <key>spriteSourceSize</key>
                <string>{71,108}</string>
                <key>textureRect</key>
                <string>{{326,152},{71,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,112}</string>
                <key>spriteSourceSize</key>
                <string>{71,112}</string>
                <key>textureRect</key>
                <string>{{0,0},{71,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,112}</string>
                <key>spriteSourceSize</key>
                <string>{71,112}</string>
                <key>textureRect</key>
                <string>{{112,0},{71,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,106}</string>
                <key>spriteSourceSize</key>
                <string>{71,106}</string>
                <key>textureRect</key>
                <string>{{322,302},{71,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,108}</string>
                <key>spriteSourceSize</key>
                <string>{71,108}</string>
                <key>textureRect</key>
                <string>{{216,209},{71,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{267,560},{75,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,94}</string>
                <key>spriteSourceSize</key>
                <string>{77,94}</string>
                <key>textureRect</key>
                <string>{{418,397},{77,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,106}</string>
                <key>spriteSourceSize</key>
                <string>{67,106}</string>
                <key>textureRect</key>
                <string>{{106,288},{67,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,92}</string>
                <key>spriteSourceSize</key>
                <string>{83,92}</string>
                <key>textureRect</key>
                <string>{{408,474},{83,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,102}</string>
                <key>spriteSourceSize</key>
                <string>{67,102}</string>
                <key>textureRect</key>
                <string>{{316,373},{67,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,102}</string>
                <key>spriteSourceSize</key>
                <string>{65,102}</string>
                <key>textureRect</key>
                <string>{{206,424},{65,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,104}</string>
                <key>spriteSourceSize</key>
                <string>{77,104}</string>
                <key>textureRect</key>
                <string>{{434,212},{77,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2d_pz_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,94}</string>
                <key>spriteSourceSize</key>
                <string>{77,94}</string>
                <key>textureRect</key>
                <string>{{98,560},{77,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,84}</string>
                <key>spriteSourceSize</key>
                <string>{81,84}</string>
                <key>textureRect</key>
                <string>{{428,316},{81,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{361,557},{81,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,108}</string>
                <key>spriteSourceSize</key>
                <string>{75,108}</string>
                <key>textureRect</key>
                <string>{{0,142},{75,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,108}</string>
                <key>spriteSourceSize</key>
                <string>{73,108}</string>
                <key>textureRect</key>
                <string>{{218,136},{73,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,110}</string>
                <key>spriteSourceSize</key>
                <string>{77,110}</string>
                <key>textureRect</key>
                <string>{{336,0},{77,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,106}</string>
                <key>spriteSourceSize</key>
                <string>{79,106}</string>
                <key>textureRect</key>
                <string>{{324,223},{79,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,108}</string>
                <key>spriteSourceSize</key>
                <string>{77,108}</string>
                <key>textureRect</key>
                <string>{{110,71},{77,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,112}</string>
                <key>spriteSourceSize</key>
                <string>{59,112}</string>
                <key>textureRect</key>
                <string>{{224,0},{59,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,106}</string>
                <key>spriteSourceSize</key>
                <string>{79,106}</string>
                <key>textureRect</key>
                <string>{{216,280},{79,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,110}</string>
                <key>spriteSourceSize</key>
                <string>{77,110}</string>
                <key>textureRect</key>
                <string>{{224,59},{77,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,102}</string>
                <key>spriteSourceSize</key>
                <string>{79,102}</string>
                <key>textureRect</key>
                <string>{{104,414},{79,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,110}</string>
                <key>spriteSourceSize</key>
                <string>{75,110}</string>
                <key>textureRect</key>
                <string>{{334,77},{75,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,100}</string>
                <key>spriteSourceSize</key>
                <string>{83,100}</string>
                <key>textureRect</key>
                <string>{{308,440},{83,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2d_pz_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,98}</string>
                <key>spriteSourceSize</key>
                <string>{77,98}</string>
                <key>textureRect</key>
                <string>{{0,560},{77,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2D_MJPZTrends.png</string>
            <key>size</key>
            <string>{512,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6036f75d41d5db79a5a037f69f7760a:d333ab8f3d6543952c102210831dbca1:0985f8382960219157a2cda04ec63592$</string>
            <key>textureFileName</key>
            <string>2D_MJPZTrends.png</string>
        </dict>
    </dict>
</plist>
