<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2d_front_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,144}</string>
                <key>spriteSourceSize</key>
                <string>{99,144}</string>
                <key>textureRect</key>
                <string>{{2,2},{99,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_cover_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{2,150},{82,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{43,60}</string>
                <key>textureRect</key>
                <string>{{500,53},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_lie_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{105,2},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_lie_14_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{124,124},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_out_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{191,2},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xia_cover_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{210,124},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xia_lie_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{277,2},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xia_lie_11_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{296,124},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xia_out_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{363,2},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuo_cover_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,47}</string>
                <key>spriteSourceSize</key>
                <string>{63,47}</string>
                <key>textureRect</key>
                <string>{{468,2},{63,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuo_hand_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,37}</string>
                <key>spriteSourceSize</key>
                <string>{20,37}</string>
                <key>textureRect</key>
                <string>{{500,117},{20,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuo_lie_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,47}</string>
                <key>spriteSourceSize</key>
                <string>{63,47}</string>
                <key>textureRect</key>
                <string>{{449,53},{63,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuo_lie_14_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,47}</string>
                <key>spriteSourceSize</key>
                <string>{63,47}</string>
                <key>textureRect</key>
                <string>{{468,141},{63,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuo_lie_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,118}</string>
                <key>spriteSourceSize</key>
                <string>{82,118}</string>
                <key>textureRect</key>
                <string>{{382,124},{82,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuo_out_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,47}</string>
                <key>spriteSourceSize</key>
                <string>{63,47}</string>
                <key>textureRect</key>
                <string>{{468,192},{63,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2D_MJBG_1Trends.png</string>
            <key>size</key>
            <string>{545,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4de1668c9223edfd36bf5e28fbcef722:d5c8e6b1bd3a1a24431342146cb3bced:11c18febc028296283917c1b241328f1$</string>
            <key>textureFileName</key>
            <string>2D_MJBG_1Trends.png</string>
        </dict>
    </dict>
</plist>
