<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_club1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,218},{32,33}}</string>
                <key>offset</key>
                <string>{-42,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,58},{32,33}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>bg_club1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,122},{78,81}}</string>
                <key>offset</key>
                <string>{15,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,85},{78,81}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>bg_club_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{96,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{96,114}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>bg_club_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{96,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,118}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>bg_club_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{96,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,118}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>bg_diamond1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,224},{30,33}}</string>
                <key>offset</key>
                <string>{-42,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,58},{30,33}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>bg_diamond1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,118},{80,87}}</string>
                <key>offset</key>
                <string>{14,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,83},{80,87}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>bg_diamond_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,122},{94,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,114}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>bg_diamond_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,122},{94,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{94,110}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>bg_diamond_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{94,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,118}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>bg_heart1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,197},{28,27}}</string>
                <key>offset</key>
                <string>{-42,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,61},{28,27}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>bg_heart1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,118},{82,77}}</string>
                <key>offset</key>
                <string>{15,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,91},{82,77}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>bg_heart_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,2},{94,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,114}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>bg_heart_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,122},{94,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{94,110}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>bg_heart_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{94,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,118}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>bg_poker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,185}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>bg_spade1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,226},{28,33}}</string>
                <key>offset</key>
                <string>{-42,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,58},{28,33}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>bg_spade1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,118},{76,85}}</string>
                <key>offset</key>
                <string>{15,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,82},{76,85}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>bg_spade_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{96,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{96,114}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>bg_spade_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{96,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,118}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>bg_spade_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{96,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,118}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,218},{34,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,187},{36,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,205},{32,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{32,41}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,218},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,43}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>black_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,218},{34,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,41}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,225},{26,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{26,41}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,196},{28,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,200},{30,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,41}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,197},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{26,41}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,226},{28,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{28,43}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,196},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{26,41}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,226},{28,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,196},{28,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>icon_big_king.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,122},{72,107}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,49},{72,107}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>icon_big_king_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{28,149}}</string>
                <key>offset</key>
                <string>{-42,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{28,149}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>icon_small_king.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,122},{78,107}}</string>
                <key>offset</key>
                <string>{19,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,50},{78,107}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>icon_small_king_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{28,149}}</string>
                <key>offset</key>
                <string>{-42,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{28,149}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>poker_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{130,183}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{134,185}</string>
            </dict>
            <key>red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,218},{34,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,187},{36,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,205},{32,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{32,41}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,187},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,43}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>red_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,218},{34,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,41}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,196},{26,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{26,41}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,218},{28,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,200},{30,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,41}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,200},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{26,41}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,218},{28,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{28,43}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,205},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{26,41}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,202},{28,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,202},{28,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>maxcard_png.png</string>
            <key>size</key>
            <string>{1168,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f63f713c5e994051d4a2eaf9a019906b$</string>
            <key>textureFileName</key>
            <string>maxcard_png.png</string>
        </dict>
    </dict>
</plist>
