<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_gm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{93,50}</string>
                <key>textureRect</key>
                <string>{{1,53},{93,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_qda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{93,50}</string>
                <key>textureRect</key>
                <string>{{1,105},{93,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_qdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{93,50}</string>
                <key>textureRect</key>
                <string>{{140,1},{93,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_qdui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{93,50}</string>
                <key>textureRect</key>
                <string>{{96,53},{93,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_qhei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{93,50}</string>
                <key>textureRect</key>
                <string>{{96,105},{93,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_qhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,50}</string>
                <key>spriteSourceSize</key>
                <string>{91,50}</string>
                <key>textureRect</key>
                <string>{{286,105},{91,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_qld.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,50}</string>
                <key>spriteSourceSize</key>
                <string>{137,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_qlian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{93,50}</string>
                <key>textureRect</key>
                <string>{{235,1},{93,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_qxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{93,50}</string>
                <key>textureRect</key>
                <string>{{191,53},{93,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_sz5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{93,50}</string>
                <key>textureRect</key>
                <string>{{191,105},{93,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_sz7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{93,50}</string>
                <key>textureRect</key>
                <string>{{330,1},{93,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_sza.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,50}</string>
                <key>spriteSourceSize</key>
                <string>{93,50}</string>
                <key>textureRect</key>
                <string>{{286,53},{93,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,50}</string>
                <key>spriteSourceSize</key>
                <string>{91,50}</string>
                <key>textureRect</key>
                <string>{{381,53},{91,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PdkSmallTrends.png</string>
            <key>size</key>
            <string>{432,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e17031f9daade6d3e1afba46134dba3f:98332743e89cc4fb5e400381d151db31:904bed0ee93fa22927d029a029612a38$</string>
            <key>textureFileName</key>
            <string>PdkSmallTrends.png</string>
        </dict>
    </dict>
</plist>
