<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bxx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,57}</string>
                <key>spriteSourceSize</key>
                <string>{160,57}</string>
                <key>textureRect</key>
                <string>{{43,180},{160,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_cx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,45}</string>
                <key>spriteSourceSize</key>
                <string>{125,45}</string>
                <key>textureRect</key>
                <string>{{153,338},{125,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_cy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,60}</string>
                <key>spriteSourceSize</key>
                <string>{128,60}</string>
                <key>textureRect</key>
                <string>{{200,411},{128,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,62}</string>
                <key>spriteSourceSize</key>
                <string>{132,62}</string>
                <key>textureRect</key>
                <string>{{211,223},{132,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fjgl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,70}</string>
                <key>spriteSourceSize</key>
                <string>{89,70}</string>
                <key>textureRect</key>
                <string>{{47,473},{89,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_jlb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,80}</string>
                <key>spriteSourceSize</key>
                <string>{195,80}</string>
                <key>textureRect</key>
                <string>{{1,98},{195,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_kszj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,64}</string>
                <key>spriteSourceSize</key>
                <string>{162,64}</string>
                <key>textureRect</key>
                <string>{{198,98},{162,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_phb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,85}</string>
                <key>spriteSourceSize</key>
                <string>{88,85}</string>
                <key>textureRect</key>
                <string>{{192,473},{88,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_qyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,70}</string>
                <key>spriteSourceSize</key>
                <string>{69,70}</string>
                <key>textureRect</key>
                <string>{{358,562},{69,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sjlm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,71}</string>
                <key>spriteSourceSize</key>
                <string>{89,71}</string>
                <key>textureRect</key>
                <string>{{119,465},{89,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_sz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,59}</string>
                <key>spriteSourceSize</key>
                <string>{135,59}</string>
                <key>textureRect</key>
                <string>{{211,287},{135,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sz2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,57}</string>
                <key>spriteSourceSize</key>
                <string>{143,57}</string>
                <key>textureRect</key>
                <string>{{211,164},{143,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,87}</string>
                <key>spriteSourceSize</key>
                <string>{86,87}</string>
                <key>textureRect</key>
                <string>{{282,473},{86,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_xq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{76,72}</string>
                <key>textureRect</key>
                <string>{{280,562},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,57}</string>
                <key>spriteSourceSize</key>
                <string>{129,57}</string>
                <key>textureRect</key>
                <string>{{47,342},{129,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_yq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,60}</string>
                <key>spriteSourceSize</key>
                <string>{146,60}</string>
                <key>textureRect</key>
                <string>{{102,180},{146,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_zj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,61}</string>
                <key>spriteSourceSize</key>
                <string>{128,61}</string>
                <key>textureRect</key>
                <string>{{200,348},{128,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_zs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,85}</string>
                <key>spriteSourceSize</key>
                <string>{86,85}</string>
                <key>textureRect</key>
                <string>{{192,560},{86,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bxx_bq_cr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{68,33}</string>
                <key>textureRect</key>
                <string>{{280,636},{68,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bxx_bq_qc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{68,33}</string>
                <key>textureRect</key>
                <string>{{405,221},{68,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>c_srk_sz_gg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,95}</string>
                <key>spriteSourceSize</key>
                <string>{456,95}</string>
                <key>textureRect</key>
                <string>{{1,1},{456,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_btn_jia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{442,221},{62,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cj_btn_jian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,63}</string>
                <key>spriteSourceSize</key>
                <string>{62,63}</string>
                <key>textureRect</key>
                <string>{{442,285},{62,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cj_zzys_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{358,634},{50,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cj_zzys_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{400,634},{50,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cj_zzys_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{348,285},{50,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_zzys_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{400,291},{50,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cmbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,50}</string>
                <key>spriteSourceSize</key>
                <string>{116,50}</string>
                <key>textureRect</key>
                <string>{{55,564},{116,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cy_btn_xljt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,17}</string>
                <key>spriteSourceSize</key>
                <string>{22,17}</string>
                <key>textureRect</key>
                <string>{{405,531},{22,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cy_xklbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{405,489},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cy_xlkxz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,31}</string>
                <key>spriteSourceSize</key>
                <string>{100,31}</string>
                <key>textureRect</key>
                <string>{{356,188},{100,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_bq_bdfc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,33}</string>
                <key>spriteSourceSize</key>
                <string>{110,33}</string>
                <key>textureRect</key>
                <string>{{330,348},{110,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_bq_fffc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,33}</string>
                <key>spriteSourceSize</key>
                <string>{110,33}</string>
                <key>textureRect</key>
                <string>{{107,564},{110,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_bq_jf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{68,33}</string>
                <key>textureRect</key>
                <string>{{365,327},{68,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_bq_jjf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{68,33}</string>
                <key>textureRect</key>
                <string>{{365,397},{68,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_bq_pj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{68,33}</string>
                <key>textureRect</key>
                <string>{{400,343},{68,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_bq_sz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{68,33}</string>
                <key>textureRect</key>
                <string>{{435,349},{68,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_bq_tic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{68,33}</string>
                <key>textureRect</key>
                <string>{{435,384},{68,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_bq_tuic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{68,33}</string>
                <key>textureRect</key>
                <string>{{400,413},{68,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dt_bq_xt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{68,33}</string>
                <key>textureRect</key>
                <string>{{435,419},{68,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_bq_yq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{68,33}</string>
                <key>textureRect</key>
                <string>{{435,454},{68,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dt_bq_zs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,33}</string>
                <key>spriteSourceSize</key>
                <string>{68,33}</string>
                <key>textureRect</key>
                <string>{{370,483},{68,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_fen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{229,647},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jb_dz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{447,489},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jb_gl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{447,521},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jb_qz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{429,553},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_lb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{188,647},{37,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_xz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,50}</string>
                <key>textureRect</key>
                <string>{{142,632},{44,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jfbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,48}</string>
                <key>spriteSourceSize</key>
                <string>{74,48}</string>
                <key>textureRect</key>
                <string>{{142,556},{74,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jp_srk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,40}</string>
                <key>spriteSourceSize</key>
                <string>{220,40}</string>
                <key>textureRect</key>
                <string>{{1,180},{220,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ncbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,52}</string>
                <key>spriteSourceSize</key>
                <string>{102,52}</string>
                <key>textureRect</key>
                <string>{{1,570},{102,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pmd_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,46}</string>
                <key>spriteSourceSize</key>
                <string>{201,46}</string>
                <key>textureRect</key>
                <string>{{459,1},{201,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>srk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,44}</string>
                <key>spriteSourceSize</key>
                <string>{166,44}</string>
                <key>textureRect</key>
                <string>{{1,402},{166,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{58,60}</string>
                <key>textureRect</key>
                <string>{{345,223},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xia_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{88,90}</string>
                <key>textureRect</key>
                <string>{{362,98},{88,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaxz_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,45}</string>
                <key>spriteSourceSize</key>
                <string>{156,45}</string>
                <key>textureRect</key>
                <string>{{164,180},{156,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaxz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,45}</string>
                <key>spriteSourceSize</key>
                <string>{133,45}</string>
                <key>textureRect</key>
                <string>{{106,328},{133,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ClubStatic.png</string>
            <key>size</key>
            <string>{506,685}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e46337a32003acc99f6681f13154b9c:a3232e591b367e37941d1b098538acc5:4ee697239d18ba82392299db22106e95$</string>
            <key>textureFileName</key>
            <string>ClubStatic.png</string>
        </dict>
    </dict>
</plist>
