<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_xq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,44}</string>
                <key>spriteSourceSize</key>
                <string>{95,44}</string>
                <key>textureRect</key>
                <string>{{467,433},{95,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chair_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,174}</string>
                <key>spriteSourceSize</key>
                <string>{110,174}</string>
                <key>textureRect</key>
                <string>{{467,321},{110,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chair_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,162}</string>
                <key>spriteSourceSize</key>
                <string>{116,162}</string>
                <key>textureRect</key>
                <string>{{1,321},{116,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chair_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,162}</string>
                <key>spriteSourceSize</key>
                <string>{114,162}</string>
                <key>textureRect</key>
                <string>{{119,321},{114,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chair_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,160}</string>
                <key>spriteSourceSize</key>
                <string>{114,160}</string>
                <key>textureRect</key>
                <string>{{235,321},{114,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chair_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,156}</string>
                <key>spriteSourceSize</key>
                <string>{114,156}</string>
                <key>textureRect</key>
                <string>{{351,321},{114,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cz_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,206}</string>
                <key>spriteSourceSize</key>
                <string>{318,206}</string>
                <key>textureRect</key>
                <string>{{1,1},{318,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,206}</string>
                <key>spriteSourceSize</key>
                <string>{318,206}</string>
                <key>textureRect</key>
                <string>{{209,1},{318,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,206}</string>
                <key>spriteSourceSize</key>
                <string>{318,206}</string>
                <key>textureRect</key>
                <string>{{417,1},{318,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cz_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,206}</string>
                <key>spriteSourceSize</key>
                <string>{318,206}</string>
                <key>textureRect</key>
                <string>{{625,1},{318,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dfbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{564,433},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fz_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,234}</string>
                <key>spriteSourceSize</key>
                <string>{264,234}</string>
                <key>textureRect</key>
                <string>{{833,1},{264,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,233}</string>
                <key>spriteSourceSize</key>
                <string>{263,233}</string>
                <key>textureRect</key>
                <string>{{1069,1},{263,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,234}</string>
                <key>spriteSourceSize</key>
                <string>{261,234}</string>
                <key>textureRect</key>
                <string>{{1304,1},{261,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fz_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,234}</string>
                <key>spriteSourceSize</key>
                <string>{261,234}</string>
                <key>textureRect</key>
                <string>{{1540,1},{261,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_jr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{598,433},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ncbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,28}</string>
                <key>spriteSourceSize</key>
                <string>{94,28}</string>
                <key>textureRect</key>
                <string>{{630,433},{94,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{643,321},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yz_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,217}</string>
                <key>spriteSourceSize</key>
                <string>{216,217}</string>
                <key>textureRect</key>
                <string>{{833,267},{216,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,217}</string>
                <key>spriteSourceSize</key>
                <string>{216,217}</string>
                <key>textureRect</key>
                <string>{{1052,267},{216,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,217}</string>
                <key>spriteSourceSize</key>
                <string>{216,217}</string>
                <key>textureRect</key>
                <string>{{1271,266},{216,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yz_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,217}</string>
                <key>spriteSourceSize</key>
                <string>{216,217}</string>
                <key>textureRect</key>
                <string>{{1489,264},{216,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Desk.png</string>
            <key>size</key>
            <string>{1775,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4009f936c141882dd92d90b8c12650bf:2b09eb779e73c44d0b87a0c0554bd516:64d69bd64407fb54c91dd3850258b6ac$</string>
            <key>textureFileName</key>
            <string>Desk.png</string>
        </dict>
    </dict>
</plist>
