<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_gb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{1151,184},{27,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_gx_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{1185,184},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gx_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{1178,217},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_wxdl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,84}</string>
                <key>spriteSourceSize</key>
                <string>{318,84}</string>
                <key>textureRect</key>
                <string>{{2,152},{318,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yhxy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,37}</string>
                <key>spriteSourceSize</key>
                <string>{305,37}</string>
                <key>textureRect</key>
                <string>{{869,215},{305,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ykdl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,84}</string>
                <key>spriteSourceSize</key>
                <string>{317,84}</string>
                <key>textureRect</key>
                <string>{{737,36},{317,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_zczh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,84}</string>
                <key>spriteSourceSize</key>
                <string>{317,84}</string>
                <key>textureRect</key>
                <string>{{324,152},{317,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_zhdl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,84}</string>
                <key>spriteSourceSize</key>
                <string>{317,84}</string>
                <key>textureRect</key>
                <string>{{737,124},{317,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnbg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,55}</string>
                <key>spriteSourceSize</key>
                <string>{175,55}</string>
                <key>textureRect</key>
                <string>{{1058,36},{175,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btwz_dl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,35}</string>
                <key>spriteSourceSize</key>
                <string>{73,35}</string>
                <key>textureRect</key>
                <string>{{1151,145},{73,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btwz_xgmm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,35}</string>
                <key>spriteSourceSize</key>
                <string>{134,35}</string>
                <key>textureRect</key>
                <string>{{1166,2},{134,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btwz_zc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,35}</string>
                <key>spriteSourceSize</key>
                <string>{74,35}</string>
                <key>textureRect</key>
                <string>{{645,152},{74,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jdt_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,12}</string>
                <key>spriteSourceSize</key>
                <string>{22,12}</string>
                <key>textureRect</key>
                <string>{{2,240},{22,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jdt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,12}</string>
                <key>spriteSourceSize</key>
                <string>{22,12}</string>
                <key>textureRect</key>
                <string>{{28,240},{22,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jdt_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{1228,145},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jdtjd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,13}</string>
                <key>spriteSourceSize</key>
                <string>{106,13}</string>
                <key>textureRect</key>
                <string>{{1309,2},{106,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1151,41},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1156,11}</string>
                <key>spriteSourceSize</key>
                <string>{1156,11}</string>
                <key>textureRect</key>
                <string>{{2,21},{1156,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress-track.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1160,15}</string>
                <key>spriteSourceSize</key>
                <string>{1160,15}</string>
                <key>textureRect</key>
                <string>{{2,2},{1160,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>srk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,40}</string>
                <key>spriteSourceSize</key>
                <string>{220,40}</string>
                <key>textureRect</key>
                <string>{{645,212},{220,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tcbg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{731,112}</string>
                <key>spriteSourceSize</key>
                <string>{731,112}</string>
                <key>textureRect</key>
                <string>{{2,36},{731,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tcnk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{1255,41},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tsbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,30}</string>
                <key>spriteSourceSize</key>
                <string>{147,30}</string>
                <key>textureRect</key>
                <string>{{1117,36},{147,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LoginStatic.png</string>
            <key>size</key>
            <string>{1324,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41154362ec657bf758d6bfc6fa5d7feb:fd4c4a077f8c07ed8c201d2364a13070:e3273a1acb0cd7791f06ac1e209ab05f$</string>
            <key>textureFileName</key>
            <string>LoginStatic.png</string>
        </dict>
    </dict>
</plist>
