<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_corner_j.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,187}</string>
                <key>spriteSourceSize</key>
                <string>{120,187}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_corner_joker_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,110}</string>
                <key>spriteSourceSize</key>
                <string>{83,110}</string>
                <key>textureRect</key>
                <string>{{1,659},{83,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>face_corner_joker_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,110}</string>
                <key>spriteSourceSize</key>
                <string>{89,110}</string>
                <key>textureRect</key>
                <string>{{1,568},{89,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>face_corner_k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,187}</string>
                <key>spriteSourceSize</key>
                <string>{120,187}</string>
                <key>textureRect</key>
                <string>{{1,190},{120,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_corner_q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,187}</string>
                <key>spriteSourceSize</key>
                <string>{120,187}</string>
                <key>textureRect</key>
                <string>{{1,379},{120,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_black_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,54}</string>
                <key>spriteSourceSize</key>
                <string>{43,54}</string>
                <key>textureRect</key>
                <string>{{78,860},{43,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_black_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{1,1266},{33,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_black_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{63,1301},{33,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_black_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,54}</string>
                <key>spriteSourceSize</key>
                <string>{37,54}</string>
                <key>textureRect</key>
                <string>{{1,1467},{37,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_black_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{63,1336},{33,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_black_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{59,1071},{37,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_black_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,56}</string>
                <key>spriteSourceSize</key>
                <string>{35,56}</string>
                <key>textureRect</key>
                <string>{{59,1227},{35,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_black_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{1,1110},{37,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_black_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{59,1110},{37,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_black_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{80,744},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_black_J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{1,1149},{37,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_black_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,56}</string>
                <key>spriteSourceSize</key>
                <string>{39,56}</string>
                <key>textureRect</key>
                <string>{{72,972},{39,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_black_Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,56}</string>
                <key>spriteSourceSize</key>
                <string>{39,56}</string>
                <key>textureRect</key>
                <string>{{1,1028},{39,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_joker_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,164}</string>
                <key>spriteSourceSize</key>
                <string>{29,164}</string>
                <key>textureRect</key>
                <string>{{1,1301},{29,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_joker_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,164}</string>
                <key>spriteSourceSize</key>
                <string>{29,164}</string>
                <key>textureRect</key>
                <string>{{32,1301},{29,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_red_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,54}</string>
                <key>spriteSourceSize</key>
                <string>{43,54}</string>
                <key>textureRect</key>
                <string>{{78,916},{43,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_red_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{63,1371},{33,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_red_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{63,1406},{33,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_red_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,54}</string>
                <key>spriteSourceSize</key>
                <string>{37,54}</string>
                <key>textureRect</key>
                <string>{{57,1476},{37,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_red_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{63,1441},{33,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_red_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{59,1149},{37,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_red_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,56}</string>
                <key>spriteSourceSize</key>
                <string>{35,56}</string>
                <key>textureRect</key>
                <string>{{59,1264},{35,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_red_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{1,1188},{37,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_red_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{59,1188},{37,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_red_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{80,802},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_red_J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,56}</string>
                <key>spriteSourceSize</key>
                <string>{37,56}</string>
                <key>textureRect</key>
                <string>{{1,1227},{37,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_red_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,56}</string>
                <key>spriteSourceSize</key>
                <string>{39,56}</string>
                <key>textureRect</key>
                <string>{{59,1030},{39,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_red_Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,56}</string>
                <key>spriteSourceSize</key>
                <string>{39,56}</string>
                <key>textureRect</key>
                <string>{{1,1069},{39,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suit_club.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,75}</string>
                <key>spriteSourceSize</key>
                <string>{69,75}</string>
                <key>textureRect</key>
                <string>{{1,815},{69,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suit_diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,77}</string>
                <key>spriteSourceSize</key>
                <string>{69,77}</string>
                <key>textureRect</key>
                <string>{{1,744},{69,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suit_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{1,957},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suit_spade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,75}</string>
                <key>spriteSourceSize</key>
                <string>{69,75}</string>
                <key>textureRect</key>
                <string>{{1,886},{69,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Poker_0.png</string>
            <key>size</key>
            <string>{122,1514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2358878d0e69bb0c0dd39f84b773ea15:7b3c25fd263fab90d0c9dc49af455721:f9005ae0dc2ed94323592f30773275b2$</string>
            <key>textureFileName</key>
            <string>Poker_0.png</string>
        </dict>
    </dict>
</plist>
