<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_corner_j.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,113}</string>
                <key>spriteSourceSize</key>
                <string>{78,113}</string>
                <key>textureRect</key>
                <string>{{796,1},{78,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_corner_joker_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,109}</string>
                <key>spriteSourceSize</key>
                <string>{80,109}</string>
                <key>textureRect</key>
                <string>{{876,1},{80,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_corner_joker_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,109}</string>
                <key>spriteSourceSize</key>
                <string>{74,109}</string>
                <key>textureRect</key>
                <string>{{231,1},{74,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>face_corner_k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,115}</string>
                <key>spriteSourceSize</key>
                <string>{77,115}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>face_corner_q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,111}</string>
                <key>spriteSourceSize</key>
                <string>{77,111}</string>
                <key>textureRect</key>
                <string>{{118,1},{77,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_black_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,41}</string>
                <key>spriteSourceSize</key>
                <string>{34,41}</string>
                <key>textureRect</key>
                <string>{{307,77},{34,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_black_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{646,1},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_black_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{646,44},{23,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_black_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{25,41}</string>
                <key>textureRect</key>
                <string>{{564,72},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_black_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{671,1},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_black_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{668,69},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_black_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,40}</string>
                <key>spriteSourceSize</key>
                <string>{23,40}</string>
                <key>textureRect</key>
                <string>{{743,69},{23,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_black_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{689,44},{23,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_black_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{696,1},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_black_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{386,72},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_black_J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{23,42}</string>
                <key>textureRect</key>
                <string>{{618,72},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_black_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,42}</string>
                <key>spriteSourceSize</key>
                <string>{27,42}</string>
                <key>textureRect</key>
                <string>{{506,72},{27,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_black_Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{446,72},{28,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_joker_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,151}</string>
                <key>spriteSourceSize</key>
                <string>{30,151}</string>
                <key>textureRect</key>
                <string>{{1,80},{30,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_joker_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,151}</string>
                <key>spriteSourceSize</key>
                <string>{30,151}</string>
                <key>textureRect</key>
                <string>{{154,80},{30,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_red_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,41}</string>
                <key>spriteSourceSize</key>
                <string>{34,41}</string>
                <key>textureRect</key>
                <string>{{350,72},{34,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_red_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{721,1},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_red_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{693,69},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_red_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{25,41}</string>
                <key>textureRect</key>
                <string>{{591,72},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_red_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{718,69},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_red_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{732,44},{23,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_red_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,40}</string>
                <key>spriteSourceSize</key>
                <string>{23,40}</string>
                <key>textureRect</key>
                <string>{{768,69},{23,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_red_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{746,1},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_red_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,41}</string>
                <key>spriteSourceSize</key>
                <string>{23,41}</string>
                <key>textureRect</key>
                <string>{{771,1},{23,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_red_A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{416,72},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_red_J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,42}</string>
                <key>spriteSourceSize</key>
                <string>{23,42}</string>
                <key>textureRect</key>
                <string>{{643,72},{23,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_red_K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,42}</string>
                <key>spriteSourceSize</key>
                <string>{27,42}</string>
                <key>textureRect</key>
                <string>{{535,72},{27,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_red_Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,41}</string>
                <key>spriteSourceSize</key>
                <string>{28,41}</string>
                <key>textureRect</key>
                <string>{{476,72},{28,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suit_club.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,75}</string>
                <key>spriteSourceSize</key>
                <string>{69,75}</string>
                <key>textureRect</key>
                <string>{{421,1},{69,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suit_diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,77}</string>
                <key>spriteSourceSize</key>
                <string>{69,77}</string>
                <key>textureRect</key>
                <string>{{342,1},{69,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suit_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{575,1},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suit_spade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,75}</string>
                <key>spriteSourceSize</key>
                <string>{69,75}</string>
                <key>textureRect</key>
                <string>{{498,1},{69,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Poker_1.png</string>
            <key>size</key>
            <string>{957,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8d828e9a51169e3c3e51668a78d6823:6dca78d5d790369664a8e9eb5363da0b:e1c980a457eaf7275bf5cf3d7880db3d$</string>
            <key>textureFileName</key>
            <string>Poker_1.png</string>
        </dict>
    </dict>
</plist>
