<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_back_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,225}</string>
                <key>spriteSourceSize</key>
                <string>{165,225}</string>
                <key>textureRect</key>
                <string>{{601,1},{165,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_back_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,174}</string>
                <key>spriteSourceSize</key>
                <string>{123,174}</string>
                <key>textureRect</key>
                <string>{{904,1},{123,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_back_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,232}</string>
                <key>spriteSourceSize</key>
                <string>{85,232}</string>
                <key>textureRect</key>
                <string>{{514,1},{85,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,233}</string>
                <key>spriteSourceSize</key>
                <string>{169,233}</string>
                <key>textureRect</key>
                <string>{{1,1},{169,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_front_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,185}</string>
                <key>spriteSourceSize</key>
                <string>{134,185}</string>
                <key>textureRect</key>
                <string>{{768,1},{134,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_front_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,233}</string>
                <key>spriteSourceSize</key>
                <string>{169,233}</string>
                <key>textureRect</key>
                <string>{{172,1},{169,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,233}</string>
                <key>spriteSourceSize</key>
                <string>{169,233}</string>
                <key>textureRect</key>
                <string>{{343,1},{169,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Poker_Common.png</string>
            <key>size</key>
            <string>{1028,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e36069610df1341fb80230577cbc14d:b0b918845c40f334745db2f5acdcab73:9b262f151739f88ec2ecf4bcbd50073d$</string>
            <key>textureFileName</key>
            <string>Poker_Common.png</string>
        </dict>
    </dict>
</plist>
