<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_da.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,71},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_diu_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,193},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_diu_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,71},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_djkp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,68}</string>
                <key>spriteSourceSize</key>
                <string>{343,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{343,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{123,193},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gen_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{53,315},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gen_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{327,83},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{449,83},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnbg111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{571,83},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnbg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,108}</string>
                <key>spriteSourceSize</key>
                <string>{106,108}</string>
                <key>textureRect</key>
                <string>{{297,315},{106,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hddb_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,120}</string>
                <key>spriteSourceSize</key>
                <string>{20,120}</string>
                <key>textureRect</key>
                <string>{{53,437},{20,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hddb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{175,315},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_bp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{245,71},{150,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_bps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{245,223},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_bps1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{498,389},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cm_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{641,205},{70,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{297,425},{70,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_cm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{650,1},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_da.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{346,1},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_diu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{498,1},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{337,205},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_kp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{489,205},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_ydp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{609,287},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_ydp1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{590,389},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_ykp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,50}</string>
                <key>spriteSourceSize</key>
                <string>{184,50}</string>
                <key>textureRect</key>
                <string>{{1,315},{184,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jfbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{405,287},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nzbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,91}</string>
                <key>spriteSourceSize</key>
                <string>{82,91}</string>
                <key>textureRect</key>
                <string>{{405,389},{82,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txkbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{507,287},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JHCommonStatic.png</string>
            <key>size</key>
            <string>{712,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dc449740ba2b5d8919a50aed154c0e6:2b8c026085ce330c00f433aa43e7b795:0ba64eab2b9fb6dbdd9b0b004204df4b$</string>
            <key>textureFileName</key>
            <string>JHCommonStatic.png</string>
        </dict>
    </dict>
</plist>
