<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{5,5},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,50}</string>
                <key>spriteSourceSize</key>
                <string>{122,50}</string>
                <key>textureRect</key>
                <string>{{135,5},{122,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,50}</string>
                <key>spriteSourceSize</key>
                <string>{121,50}</string>
                <key>textureRect</key>
                <string>{{5,65},{121,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{136,65},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,50}</string>
                <key>spriteSourceSize</key>
                <string>{119,50}</string>
                <key>textureRect</key>
                <string>{{266,65},{119,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,50}</string>
                <key>spriteSourceSize</key>
                <string>{121,50}</string>
                <key>textureRect</key>
                <string>{{5,125},{121,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cm_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{136,125},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{196,125},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{256,125},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_cm_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{316,125},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JHTrends.png</string>
            <key>size</key>
            <string>{390,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:126ee713f18235504f726e4ef06d1fa3:5d8928bb408a30bcdb7deddded77fa66:377d8b450d6051855c3789e2a7146339$</string>
            <key>textureFileName</key>
            <string>JHTrends.png</string>
        </dict>
    </dict>
</plist>
