<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GoldIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,49}</string>
                <key>spriteSourceSize</key>
                <string>{54,49}</string>
                <key>textureRect</key>
                <string>{{2,2},{54,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameCommon.png</string>
            <key>size</key>
            <string>{58,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90ef66f7792f2a4901bda6baad5f871a:addb3fb05b31529d78df156a8a05d38f:673440661eebc8c2c951139b7f66f8ec$</string>
            <key>textureFileName</key>
            <string>GameCommon.png</string>
        </dict>
    </dict>
</plist>
