<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1607,2},{200,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_palys.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,193}</string>
                <key>spriteSourceSize</key>
                <string>{409,193}</string>
                <key>textureRect</key>
                <string>{{1410,2},{409,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,150}</string>
                <key>spriteSourceSize</key>
                <string>{138,150}</string>
                <key>textureRect</key>
                <string>{{1554,415},{138,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,140}</string>
                <key>textureRect</key>
                <string>{{1410,415},{170,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_you.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,600}</string>
                <key>spriteSourceSize</key>
                <string>{700,600}</string>
                <key>textureRect</key>
                <string>{{2,2},{700,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,600}</string>
                <key>spriteSourceSize</key>
                <string>{700,600}</string>
                <key>textureRect</key>
                <string>{{706,2},{700,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Settlement_0.png</string>
            <key>size</key>
            <string>{1709,604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23fd669467b97987c954689d5d80ae42:86f243d8834cea4113492f43e0430323:eba70047b2fd3bd6b67e7de9b179a84f$</string>
            <key>textureFileName</key>
            <string>Settlement_0.png</string>
        </dict>
    </dict>
</plist>
