<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgzz_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,13}</string>
                <key>spriteSourceSize</key>
                <string>{101,13}</string>
                <key>textureRect</key>
                <string>{{537,189},{101,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_bd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,58}</string>
                <key>spriteSourceSize</key>
                <string>{131,58}</string>
                <key>textureRect</key>
                <string>{{1382,297},{131,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_cjfj_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,186}</string>
                <key>spriteSourceSize</key>
                <string>{272,186}</string>
                <key>textureRect</key>
                <string>{{1,189},{272,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,50}</string>
                <key>spriteSourceSize</key>
                <string>{25,50}</string>
                <key>textureRect</key>
                <string>{{1502,302},{25,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,58}</string>
                <key>spriteSourceSize</key>
                <string>{131,58}</string>
                <key>textureRect</key>
                <string>{{1442,302},{131,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_fxhy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{873,299},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fxpyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{1033,285},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,59}</string>
                <key>spriteSourceSize</key>
                <string>{134,59}</string>
                <key>textureRect</key>
                <string>{{812,350},{134,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_hqyzm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,33}</string>
                <key>spriteSourceSize</key>
                <string>{171,33}</string>
                <key>textureRect</key>
                <string>{{1033,445},{171,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_jia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{186,430},{52,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_jrfj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,186}</string>
                <key>spriteSourceSize</key>
                <string>{272,186}</string>
                <key>textureRect</key>
                <string>{{995,1},{272,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_kf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,89}</string>
                <key>spriteSourceSize</key>
                <string>{216,89}</string>
                <key>textureRect</key>
                <string>{{594,350},{216,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_qyq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,186}</string>
                <key>spriteSourceSize</key>
                <string>{554,186}</string>
                <key>textureRect</key>
                <string>{{1,1},{554,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,112}</string>
                <key>spriteSourceSize</key>
                <string>{260,112}</string>
                <key>textureRect</key>
                <string>{{275,189},{260,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,59}</string>
                <key>spriteSourceSize</key>
                <string>{135,59}</string>
                <key>textureRect</key>
                <string>{{1487,1},{135,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_zj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,59}</string>
                <key>spriteSourceSize</key>
                <string>{131,59}</string>
                <key>textureRect</key>
                <string>{{1321,297},{131,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_zs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,155}</string>
                <key>spriteSourceSize</key>
                <string>{216,155}</string>
                <key>textureRect</key>
                <string>{{1269,1},{216,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_bgzz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,49}</string>
                <key>spriteSourceSize</key>
                <string>{269,49}</string>
                <key>textureRect</key>
                <string>{{594,299},{269,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_btndb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,94}</string>
                <key>spriteSourceSize</key>
                <string>{241,94}</string>
                <key>textureRect</key>
                <string>{{995,189},{241,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_fgx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,1}</string>
                <key>spriteSourceSize</key>
                <string>{257,1}</string>
                <key>textureRect</key>
                <string>{{985,480},{257,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_nk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,25}</string>
                <key>spriteSourceSize</key>
                <string>{57,25}</string>
                <key>textureRect</key>
                <string>{{1491,138},{57,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cj_nkzs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,72}</string>
                <key>spriteSourceSize</key>
                <string>{44,72}</string>
                <key>textureRect</key>
                <string>{{112,430},{44,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>com_jh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{1193,413},{29,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fkbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,36}</string>
                <key>spriteSourceSize</key>
                <string>{200,36}</string>
                <key>textureRect</key>
                <string>{{594,441},{200,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fkbg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,34}</string>
                <key>spriteSourceSize</key>
                <string>{186,34}</string>
                <key>textureRect</key>
                <string>{{1244,430},{186,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,109}</string>
                <key>spriteSourceSize</key>
                <string>{107,109}</string>
                <key>textureRect</key>
                <string>{{1,377},{107,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,114}</string>
                <key>spriteSourceSize</key>
                <string>{126,114}</string>
                <key>textureRect</key>
                <string>{{1193,297},{126,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,156}</string>
                <key>spriteSourceSize</key>
                <string>{162,156}</string>
                <key>textureRect</key>
                <string>{{436,303},{162,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_fk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,32}</string>
                <key>spriteSourceSize</key>
                <string>{43,32}</string>
                <key>textureRect</key>
                <string>{{1491,165},{43,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zwjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,159}</string>
                <key>spriteSourceSize</key>
                <string>{181,159}</string>
                <key>textureRect</key>
                <string>{{275,303},{181,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idncbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,95}</string>
                <key>spriteSourceSize</key>
                <string>{208,95}</string>
                <key>textureRect</key>
                <string>{{1238,200},{208,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jlblb_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,436}</string>
                <key>spriteSourceSize</key>
                <string>{296,436}</string>
                <key>textureRect</key>
                <string>{{557,1},{296,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jlblb_btnbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,25}</string>
                <key>spriteSourceSize</key>
                <string>{110,25}</string>
                <key>textureRect</key>
                <string>{{873,459},{110,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jp_srk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,40}</string>
                <key>spriteSourceSize</key>
                <string>{220,40}</string>
                <key>textureRect</key>
                <string>{{1269,158},{220,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>srk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,51}</string>
                <key>spriteSourceSize</key>
                <string>{153,51}</string>
                <key>textureRect</key>
                <string>{{112,377},{153,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tmzz_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,13}</string>
                <key>spriteSourceSize</key>
                <string>{101,13}</string>
                <key>textureRect</key>
                <string>{{436,467},{101,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1448,200},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HomeStatic.png</string>
            <key>size</key>
            <string>{1549,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5108014eccd3c6c74b874918c1219d7c:df27239c723213343eafe6775a29823d:1c7372a5a7a023969204847d0c0b84bd$</string>
            <key>textureFileName</key>
            <string>HomeStatic.png</string>
        </dict>
    </dict>
</plist>
